<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-bg-stable">

  <!-- Dashboard Tab -->
  <ion-tab title="Bang!" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="#/tab/big-bang">
    <ion-nav-view name="tab-big-bang"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
